/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COMMON */
.container {
  margin: auto;
  width: 60%;
  background-color: antiquewhite;
}

html {
  font-family: 'Fredoka', sans-serif;
  font-size: 62,5%;
}

.mb{
  margin-bottom: 2rem;
}

/* TITLE */

.title{ 
  margin-top: 3em; 
  text-align: center;
}

.title h1{
  font-size: 2rem;
  color: rgb(229, 51, 113);
}

.title p{
  font-size: 1rem;
}

/* FLOAT CARDS */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.cards{
    background-color: rgba(15, 14, 23, 1);
    width: calc(100% / 3);
    float: left;
    border: 3px solid antiquewhite;
    /* DEBUG */
    height: 50px;
}

/* CARDS text  */
.cards h3{
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}
.cards span{
  color: rgb(0, 0, 0);
  display: block;
}

 /* CARDS email link */

.cards a:link{
  color: rgba(61, 171, 229, 1);
  text-decoration: none;
}
.cards a:hover {
  color: rgb(229, 51, 113);
  text-decoration: none;
}