/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COMMON */
.container {
  margin: auto;
  width: 60%;
  background-color: antiquewhite;
}

html {
  font-family: 'Fredoka', sans-serif;
  font-size: 62,5%;
}

/* TITLE */

.title{ 
  margin-top: 3em;
}
.title h1{
  font-size: 2rem;
}

.title p{
  font-size: 1rem;
}

/* FLOAT CARDS */
.float_cards{

}

.clearfix{

}

.cards{
    background-color: blue;
    width: calc(100% / 3);
    height: 50px;
}