/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COMMON */
.container {
  margin: auto;
  width: 60%;
  background-color: rgb(255, 255, 255);
}

html {
  font-family: "Fredoka", sans-serif;
  font-size: 62, 5%;
}

.mb {
  margin-bottom: 2rem;
}

/* TITLE */

.title {
  margin-top: 3em;
  text-align: center;
}

.title h1 {
  font-size: 2rem;
  color: rgb(229, 51, 113);
}

.title p {
  font-size: 1rem;
}

/* FLOAT CARDS */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.cards {
  background-color: rgba(15, 14, 23, 1);
  width: calc(100% / 3);
  float: left;
  border: 6px solid rgb(255, 255, 255);
  /* DEBUG */
  /* height: 100px; */
}

/* CARDS text  */
.cards h3 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 1rem;
}
.cards span {
  color: rgb(255, 255, 255);
  display: block;
  font-size: 1rem;
  margin-top: 0.3em; 
}

.cards h3, a{
  margin-top: 0.8em;
  /* line-height: 2em; impostata con margin-top */
}

/* CARDS email link */
.cards a {
  font-size: 1rem;
}

.cards a:link {
  color: rgba(61, 171, 229, 1);
  text-decoration: none;
}
.cards a:hover {
  color: rgb(229, 51, 113);
  text-decoration: none;
}

/* CARDS images */

.cards img {
  width: 30%;
  float: left;
  margin-right: 1em;
}
